.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: #f9fafb;
}

.content {
  display: flex;
  flex: 1;
}

.main {
  flex: 1;
  overflow-y: auto;
  background: #f9fafb;
}

