.container {
  text-align: center;
  margin-bottom: 2.5rem;
  color: #00843d;
}

.brand {
  font-size: 3.5rem;
  font-weight: 900;
  display: block;
  letter-spacing: 0.12em;
}

.subtitle {
  display: block;
  margin-top: 0.5rem;
  font-size: 1rem;
  font-style: italic;
  letter-spacing: 0.05em;
}
